
labs/lab_1/bin/Debug/

*.cbp

*.depend

*.layout

*.o

CS-200/labs/lab_1/bin/Debug/

CS-200/labs/lab_2/bin/Debug/

CS-200/pretest/pretest/bin/Debug/

CS-200/labs/lab_1/part1/bin/Debug/

CS-200/labs/lab_1/part2/part2/bin/Debug/

CS-200/labs/lab_1/part3/part3/bin/Debug/

CS-200/labs/lab_2/data\.txt

*.txt

CS-200/labs/lab_6/\.idea/

CS-200/labs/lab_6/cmake-build-debug/

CS-200/project1

intelligent_systems/assignment_2/.idea/
